<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DelayBeforeFirstSendMs" value="5000" />
        <add key="LogFilePath" value="C:\system files\logs\waketimes.txt" />
        <add key="MaxRetryAttempts" value="3" />
        <add key="EnableConsoleLog" value="true" />
        <add key="EnableWakeEmail" value="true" />
        <add key="GmailAddress" value="your_email@gmail.com" />
        <add key="GmailAppPassword" value="your_app_password" />
        <add key="WakeSubjectPrefix" value="HTPC Wake" />
    </appSettings>
</configuration>